{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        {% for flash_error in app.flashes('verify_email_error') %}
          <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 class="text-center">Register</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm ,{'attr':{'novalidate':'novalidate'}}) }}
          <div class="form-group">
            {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
          </div>

          <div class="form-group">
            {{ form_row(registrationForm.nom_user, { 'label': 'Nom', 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
          </div>

          <div class="form-group">
            {{ form_row(registrationForm.prenom_user, { 'label': 'Prenom', 'attr': {'class': 'form-control', 'placeholder': 'Prenom'} }) }}
          </div>

          <div class="form-group">
            {{ form_row(registrationForm.adresse_user, { 'label': 'Adresse', 'attr': {'class': 'form-control', 'placeholder': 'Adresse'} }) }}
          </div>

          <div class="form-group">
            {{ form_row(registrationForm.tel_user, { 'label': 'Téléphone', 'attr': {'class': 'form-control', 'placeholder': 'Téléphone'} }) }}
          </div>

          <div class="form-group">
            {{ form_row(registrationForm.plainPassword, {
              'label': 'Password',
              'attr': {'class': 'form-control', 'placeholder': 'Password'}
            }) }}
          </div>

          <div class="form-check">
            {{ form_row(registrationForm.agreeTerms, {'label_attr': {'class': 'form-check-label'}, 'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(registrationForm.agreeTerms, 'I agree to the terms', {'label_attr': {'class': 'form-check-label'}}) }}
          </div>

          <button type="submit" class="btn btn-primary btn-block mt-3">Register</button>
        {{ form_end(registrationForm) }}

        <p class="mt-3 text-center">Already have an account? <a href="{{ path('app_login') }}">Click here to login</a></p>
      </div>
    </div>
  </div>
{% endblock %}
