{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
  <div class="container-fluid h-100" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row h-100 align-items-center">
      <!-- Signup Form Section -->
      <div class="col-md-6 signup-form-section" style="background-color: #37525d; padding: 50px;">
        <h1 class="text-center" style="color: #e2eee6;">Register</h1>

        {{ form_errors(registrationForm) }}

{{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
          <div class="form-group" style="padding: 0 20px;">
            {{ form_row(registrationForm.email, { 'attr': {'class': 'form-control form-control-lg mb-3', 'placeholder': 'Email'} }) }}
          </div>

          <div class="form-group" style="padding: 0 20px;">
            {{ form_row(registrationForm.nom_user, { 'attr': {'class': 'form-control form-control-lg mb-3', 'placeholder': 'Nom'} }) }}
          </div>

          <div class="form-group" style="padding: 0 20px;">
            {{ form_row(registrationForm.prenom_user, { 'attr': {'class': 'form-control form-control-lg mb-3', 'placeholder': 'Prenom'} }) }}
          </div>

          <div class="form-group" style="padding: 0 20px;">
            {{ form_row(registrationForm.adresse_user, { 'attr': {'class': 'form-control form-control-lg mb-3', 'placeholder': 'Adresse'} }) }}
          </div>

          <div class="form-group" style="padding: 0 20px;">
            {{ form_row(registrationForm.tel_user, { 'attr': {'class': 'form-control form-control-lg mb-3', 'placeholder': 'Téléphone'} }) }}
          </div>

          <div class="form-group" style="padding: 0 20px;">
            {{ form_row(registrationForm.plainPassword, { 'attr': {'class': 'form-control form-control-lg mb-3', 'placeholder': 'Password'} }) }}
          </div>

<div class="form-check" style="padding: 0 20px;">
            {{ form_row(registrationForm.agreeTerms, {'label_attr': {'class': 'form-check-label'}, 'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(registrationForm.agreeTerms, 'I agree to the terms', {'label_attr': {'class': 'form-check-label'}}) }}
          </div>


          
          {# Render the reCAPTCHA widget #}
          {{ form_row(registrationForm.captcha) }}

          <button type="submit" class="btn btn-primary btn-block mt-3" style="background-color: #1a6212;">Register</button>
        {{ form_end(registrationForm) }}

        <p class="mt-3 text-center" style="color: #e2eee6;">Already have an account? <a href="{{ path('app_login') }}" style="color: #e2eee6;">Click here to login</a></p>
      </div>

      <!-- Welcome Section with Background Image -->
      <div class="col-md-6 welcome-section" style="background: url('/img.jpg') center/cover; color: #e2eee6; padding: 90px; min-height: 130vh;">
      </div>
    </div>
  </div>
{% endblock %}
