{% extends 'gestionProd/base.html.twig' %}

{% block content %}
    <div class="container mt-4">
        <h1>Ajouter Votre produit</h1>

        {{ form_start(f) }}
        <table>
            <tr>
                <td>{{ form_label(f.nomProd, "Nom de déchets") }}</td>
                <td>{{ form_widget(f.nomProd) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(f.typeProd, "Type de déchets") }}</td>
                <td>{{ form_widget(f.typeProd) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(f.photoProd, "Photo de déchets") }}</td>
                <td>{{ form_widget(f.photoProd) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(f.prixProd, "Le prix") }}</td>
                <td>{{ form_widget(f.prixProd) }}</td>
            </tr>
             <tr>
                <td>{{ form_label(f.descrpProd, "Description du produit") }}</td>
                <td>{{ form_widget(f.descrpProd) }}</td>
            </tr>
             <tr>
                <td>{{ form_label(f.idCat, "Catégorie du produit") }}</td>
                <td>{{ form_widget(f.idCat) }}</td>
            </tr>
        </table>
        {{ form_end(f) }}

        <a href="{{ path('app_produits_index') }}" class="btn btn-secondary mt-3">Back to list</a>
    </div>
{% endblock %}