{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block content %}

    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>NomProd</th>
                <td>{{ produit.nomProd }}</td>
            </tr>
            <tr>
                <th>DescrpProd</th>
                <td>{{ produit.descrpProd }}</td>
            </tr>
            <tr>
                <th>TypeProd</th>
                <td>{{ produit.photoProd }}</td>
            </tr>
<tr>
    <th>TypeProd</th>
    <td><img src="{{ asset('uploads/' ~ produit.photoProd) }}" style="width: 50%; height: auto;"></td>
</tr>

            <tr>
                <th>PrixProd</th>
                <td>{{ produit.prixProd }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produits_index') }}">back to list</a>

    <a href="{{ path('app_produits_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produits/_delete_form.html.twig') }}
{% endblock %}
