{% extends 'security/baseback1.html.twig' %}


{% block body %}
<br></b> <b></b> <b></b> <b></b>
<div style="text-align: center; margin-top: 50px; margin-left: 200px ">

    <h1 class="text-center">Utilisateur </h1>

    <div class="container mt-4">
        <table class="table table-sm mx-auto">
            <tbody>
                <tr class="mb-2">
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr class="mb-2">
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr class="mb-2">
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
                <tr class="mb-2">
                    <th>Nom_user</th>
                    <td>{{ user.nomUser }}</td>
                </tr>
                <tr class="mb-2">
                    <th>Prenom_user</th>
                    <td>{{ user.prenomUser }}</td>
                </tr>
                <tr class="mb-2">
                    <th>Adresse_user</th>
                    <td>{{ user.adresseUser }}</td>
                </tr>
                <tr class="mb-2">
                    <th>Tel_user</th>
                    <td>{{ user.telUser }}</td>
                </tr>
                <tr class="mb-2">
                    <th>Points_user</th>
                    <td>{{ user.pointsUser }}</td>
                </tr>
                <tr class="mb-2">
                    <th>IsVerified</th>
                    <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                </tr>
                <tr class="mb-2">
                    <th>IsBanned</th>
                    <td>{{ user.isBanned ? 'Yes' : 'No' }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Back to List</a>
        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Edit</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
