{% extends 'base.html.twig' %}

{% block title %}CategorieProd{% endblock %}

{% block body %}
    <h1>CategorieProd</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_prod.id }}</td>
            </tr>
            <tr>
                <th>Categorie_prod</th>
                <td>{{ categorie_prod.categorieProd }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_prod_index') }}">back to list</a>

    <a href="{{ path('app_categorie_prod_edit', {'id': categorie_prod.id}) }}">edit</a>

    {{ include('categorie_prod/_delete_form.html.twig') }}
{% endblock %}
